<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>Sphere.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>112CD8C11E2EC99D0059E4DC</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>112CD8D81E2EC99E0059E4DC</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>112CD8E31E2EC99E0059E4DC</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
